<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ガチャ</title>
</head>
<body>
    <h1>ガチャを引いてみよう！</h1>
    <p>ガチャガチャ……ゴロン！出たのは…<%= gacha %>!</p>
    <hr>
    <form action="/gacha" method="get">
        <button type="submit">ガチャを引く</button>
    </form>
</body>
</html>